<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>To Do List</title>
</head>

<body>
    <% if (kindOfDay === 'Saturday' || kindOfDay==='Sunday'){ %>
    <h1 style="color:purple">It is a <%= kindOfDay %> !</h1> 
       <% }else{ %>
    <h1 style="color:salmon">It is a <%= kindOfDay %> !</h1> 
    <% } %>
</body>
</html>